.ln-title {
	$self: &;
	color: $base;
	font-family: "RB", sans-serif;
	font-size: 42px;
	
	@include media('<=lg') {
		font-size: 38px;
	}
	
	@include media('<=md') {
		font-size: 36px;
	}
	
	@include media('<=sm') {
		font-size: 34px;
	}
	
	@include media('<=xs') {
		font-size: 32px;
	}
	
	@include media('<=xxs') {
		font-size: 30px;
	}
	
	@include media('<=xxxs') {
		font-size: 26px;
	}

	&_white {
		color: #fff;
	}
}
