<div class="card-ar @@if(this.cls){@@cls}">
	<a class="card-ar__image" href="./">
		<img src="./images/teaser-image-1.jpg" alt="">
	</a>
	<div class="card-ar__content">
		<div class="card-ar__tags">
			<a class="tag tag_small tag_fade" href="./">Кейс</a>
		</div>
		<h3 class="card-ar__title">Длинный заголовок максимум в две строки Длинный заголовок</h3>
		<div class="card-ar__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="./">Читать далее...</a></div>
		<div class="card-ar__s-bottom">
			<a class="card-ar__name" href="./">
				<div class="card-ar__n-avatar"><img src="./images/avatar-default.png" alt=""></div>
				<span class="card-ar__m-text">Название компании</span>
			</a>
			<div class="card-ar__date">2 дня назад</div>	
		</div>
	</div>
</div>