<section class="more">
	<div class="more__inner container">
		<div class="more__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie.</div>
		<div class="more__links">
			<a class="more__link more__link_more" href="./">Узнать подробнее</a>
			<a class="more__link more__link_register button button_accent" href="./">Зарегистрироваться</a>
		</div>
	</div>
</section>

<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__main">
			<a class="footer__logo" href="./"><img src="./images/logo-white.svg" alt=""></a>
			<div class="footer__m-text">Мы объединяем организаторов, экспертов и заинтересованных участников в одном месте</div>
			<div class="footer__navi">
				<a class="footer__n-link" href="./">Предпринимателю</a>
				<a class="footer__n-link" href="./">Организатору</a>
				<a class="footer__n-link" href="./">Эксперту</a>
			</div>
		</div>
		<div class="footer__links">
			<a class="footer__l-link" href="./">Политика конфиденциальности</a>
			<a class="footer__l-link" href="./">Условия пользования</a>
			<a class="footer__l-link" href="./">Публичная оферта</a>
			<a class="footer__l-link" href="./">Информация об онлайн-платежах</a>
			<a class="footer__l-link" href="./">О проекте</a>
			<span class="footer__l-copy">© ТОО “Business Event Network”</span>
		</div>
		<div class="footer__contact">
			<a class="footer__c-link footer__c-link_email" href="mailto:info@benhub.kz">
				<span>info@benhub.kz</span>
				<span>Ежедневно с 9:00 до 23:00</span>
			</a>
			<a class="footer__c-link footer__c-link_phone" href="tel:+77072404040">
				<span>+7 707 240 40 40</span>
				<span>Ежедневно с 9:00 до 23:00</span>
			</a>
			<div class="footer__social social">
				<a class="social__link social__link_fb" href="./"></a>
				<a class="social__link social__link_inst" href="./"></a>
				<a class="social__link social__link_tgm" href="./"></a>
			</div>
		</div>
	</div>
	<div class="footer__copy container">© ТОО “Business Event Network”</div>
</footer> 
<script src="common.js"></script>
</body> 
</html> 
