<footer class="footer"> 
	<div class="container">
		<a href="./" class="footer__logo"><img src="./images/logo.png" alt=""></a>
		<div class="footer__inner">
			<div class="footer__info">
				<p class="footer__info-slogan">Мы объединяем организаторов, экспертов и заинтересованных участников в одном месте.</p>
				<div class="footer__info-copy">&copy; TOO BENevent. <a href="./">Публичная оферта</a></div>
			</div>
			<div class="footer__menu">
				<a href="./">События</a>
				<a href="./">Эксперты</a>
				<a href="./">Блог</a>
			</div>
			<div class="footer__menu">
				<a href="./">Для организаторов</a>
				<a href="./">Условия использования</a>
				<a href="./">О нас</a>
			</div>
			<div class="footer__contacts">
				<h2 class="footer__title">Связаться с нами</h2>
				<div class="footer__socials">
					<a href="./" class="footer__social footer__social_fb"></a>
					<a href="./" class="footer__social footer__social_inst"></a>
					<a href="./" class="footer__social footer__social_tlg"></a>
				</div>
				<div class="footer__contacts-info">
					<a href="tel:+77058588858">+7 705 858 88 58</a>
					<a href="tel:+77058588858">+7 705 858 88 58</a>
					<a href="mailto:support@benevent.kz">support@benevent.kz</a>
				</div>
			</div>
			<div class="footer__apps">
				<h2 class="footer__title">Мобильное приложение</h2>
				<a href="./" class="footer__app footer__app_google">
					<img src="./images/mobile-app-store.svg" alt="">
				</a>
				<a href="./" class="footer__app footer__app_apple">
					<img src="./images/mobile-google-play.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
