<div class="card-ev @@if(this.cls){@@cls}">
	<div class="card-ev__body">
		<a class="card-ev__image" href="./">
			<img src="./images/intro-image-3.png" alt="">
			<span class="card-ev__i-label">Оффлайн</span>
		</a>
		<div class="card-ev__content">
			<div class="card-ev__small card-ev__small_top">28 июля 2022, 16:00 - 20:00</div>
			<h3 class="card-ev__title">Ярмарка вакансий<br> ASTANA HUB JOB FAIR 2...</h3>
			<div class="card-ev__price">От 2 000 тг</div>
			<a class="card-ev__name" href="./">
				<div class="card-ev__n-avatar"><img src="./images/avatar-default.png" alt=""></div>
				<span class="card-ev__n-text">Название компании</span>
			</a>
			<div class="card-ev__hidden">
				<p>Тенденции на рынке труда, Новые требования к аналитикам, Личный опыт, Реальные приме...</p>
				<div class="card-ev__small">г. Алматы, Байтурсынова 124</div>
			</div>
		</div>
	</div>
</div>