<div class="card @@if(this.cls){@@cls}">
	<div class="card__body">
		<a class="card__image" href="./">
			<img src="./images/card-image-2.png" alt="">
			<span class="card__i-label">Бесплатная консультация</span>
		</a>
		<div class="card__content">
			<div class="card__tags">
				<a href="./">Онлайн</a>
				<a href="./">IT проекты</a>
				<a href="./">Менеджмент</a>
			</div>
			<h3 class="card__title mb1">Акпантокпантура&shy;ркожа Аккарагозайымсулу</h3>
			<div class="card__range mb1">
				<div class="card__rating rating rating_small" data-rate="@@if(this.rate){@@rate}">
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
				</div>
				<div class="card__r-reviews"><span>30</span> отзывов</div>
			</div>
			<div class="card__small">Алматы, Казахстан</div>
			<div class="card__hidden">
				<p>Серийный предприниматель в сфере IT, строительства. Автоматизация бизнеса. Оборот 350+ млн. тг/год.</p>
			</div>
		</div>
	</div>
</div>