<div class="card-ex @@if(this.cls){@@cls}">
	<div class="card-ex__body">
		<a class="card-ex__image" href="./expert.html">
			<img src="./images/intro-image-1.png" alt="">
			<span class="card-ex__i-label">Бесплатная консультация</span>
		</a>
		<div class="card-ex__content">
			<div class="card-ex__tags">
				<a class="tag tag_fade tag_small" href="./">Онлайн</a>
				<a class="tag tag_fade tag_small" href="./">IT проекты</a>
				<a class="tag tag_fade tag_small" href="./">Менеджмент</a>
			</div>
			<h3 class="card-ex__title">Акпантокпантура&shy;ркожа Аккарагозайымсулу</h3>
			<div class="card-ex__range">
				<div class="card-ex__rating rating rating_small" data-rate="@@if(this.rate){@@rate}">
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
					<span class="rating__star"></span>
				</div>
				<div class="card-ex__r-reviews"><span>30</span> отзывов</div>
			</div>
			<div class="card-ex__small">Алматы, Казахстан</div>
			<div class="card-ex__hidden">
				<p>Серийный предприниматель в сфере IT, строительства. Автоматизация бизнеса. Оборот 350+ млн. тг/год.</p>
			</div>
		</div>
	</div>
</div>