<header class="header">
	<div class="header__inner container">
		<div class="header__top">
			<div class="header__contact">
				<a class="header__link header__link_phone" href="tel:+7 7072404040">+7 707 240 40 40</a>
				<a class="header__link header__link_email" href="mail:info@benhub.kz">info@benhub.kz</a>
			</div>
			<div class="header__lang lang lang_ru">
				<div class="lang__links">
					<a class="lang__link lang__link_ru" href="./">Рус</a>
					<a class="lang__link lang__link_em" href="./">Eng</a>
					<a class="lang__link lang__link_kz" href="./">Қаз</a>
				</div>
			</div>
		</div>
		<div class="header__panel h-panel">
			<a class="h-panel__logo" href="./"><img src="./images/logo.svg" alt=""></a>
			<div class="h-panel__navi">
				<button class="h-panel__navi-close"></button>
				<nav class="h-panel__menu">
					<a class="h-panel__link" href="./">События</a>
					<a class="h-panel__link" href="./experts.html">Эксперты</a>
					<a class="h-panel__link" href="./">Предприниматели</a>
					<a class="h-panel__link" href="./">Блог</a>
				</nav>
				<form action="./" class="h-panel__search">
					<input type="text" size="12" placeholder="Поиск по сайту">
					<input type="submit" value="">
					<input type="reset" value="">
				</form>
				<a class="h-panel__login button button_login button_shadow" href="#" data-modal="login">Войти</a>
			</div>
			<div class="h-panel__lang lang lang_ru">
				<div class="lang__links">
					<a class="lang__link lang__link_ru" href="./">Рус</a>
					<a class="lang__link lang__link_en" href="./">Eng</a>
					<a class="lang__link lang__link_kz" href="./">Қаз</a>
				</div>
			</div>
			<button class="h-panel__navi-toggle button button_menu button_shadow"></button>
		</div>
	</div>
</header>