<header class="header">
	<div class="container header__container">
		<a href="./" class="header__logo"><img src="./images/logo.png" alt=""></a>
		<div class="header__lang header__lang_mobile">
			<a href="./" class="header__lang-ru">RU</a>
			<a href="./" class="header__lang-en">EN</a>
		</div>
		<span class="header__menu-open"></span>
		<nav class="header__navi">
			<span class="header__menu-close"></span>
			<div class="header__menu">
				<a href="./" class="header__menu-item">События</a>
				<a href="./" class="header__menu-item">Эксперты</a>
				<a href="./" class="header__menu-item">Для организаторов</a>
			</div>
			<div class="header__lang">
				<a href="./" class="header__lang-ru">RU</a>
				<a href="./" class="header__lang-en">EN</a>
			</div>
			<a href="./" class="header__register">Вход/Регистрация</a>
			<span class="header__lang-mobile">RU</span>
		</nav>
	</div>
</header> 
