<div class="modal__hidden">
	<div id="login">
		<div class="f-login">
			<h2 class="f-login__title">Войти</h2>
			<div class="f-login__t-text">
				<span>Новый пользователь</span>
				<a href="./" data-modal="register">Создать учетную запись</a>
			</div>
			<form class="form f-login__form" action="./">
				<div class="form_field f-login__field">
					<input class="form__input" type="text" placeholder="E-mail">
					<span class="form__error">Несуществующий адрес</span>
				</div>
				<div class="form_field f-login__field">
					<input class="form__input" type="password" placeholder="Пароль">
					<span class="form__error"></span>
				</div>
				<button class="form__button f-login__button">Зарегистрироваться</button>
			</form>
			<a class="f-login__forget" href="./">Забыли пароль?</a>
			<div class="f-login__socials">
				<div class="f-login__separator"><span>Или</span></div>
				<a class="f-login__social f-login__social_gl" href="./">Войти с помощью Google</a>
				<a class="f-login__social f-login__social_fb" href="./">Войти с помощью Facebook</a>
				<a class="f-login__social f-login__social_in" href="./">Войти с помощью Linkedin</a>
			</div>
		</div>
	</div>
	<div id="register">
		<div class="f-login">
			<h2 class="f-login__title">Регистрация</h2>
			<div class="f-login__t-text">
				<span>У вас уже есть учетная запись?</span>
				<a href="./" data-modal="login">Войти</a>
			</div>
			<div class="f-login__t-note">На указанный e-mail будет выслано письмо для подтверждения регистрации</div>
			<form class="form f-login__form" action="./">
				<div class="form_field f-login__field">
					<input class="form__input" type="text" placeholder="E-mail">
					<span class="form__error">Несуществующий адрес</span>
				</div>
				<div class="form_field f-login__field">
					<input class="form__input" type="text" placeholder="Телефон">
					<span class="form__error"></span>
				</div>
				<div class="form_field f-login__field">
					<input class="form__input" type="password" placeholder="Придумайте пароль">
					<span class="form__error"></span>
				</div>
				<div class="form_field f-login__field">
					<input class="form__input" type="password" placeholder="Подтвердите пароль">
					<span class="form__error"></span>
				</div>
				<button class="form__button f-login__button">Зарегистрироваться</button>
			</form>
			<div class="f-login__socials">
				<div class="f-login__separator"><span>Или</span></div>
				<a class="f-login__social f-login__social_gl" href="./">Войти с помощью Google</a>
				<a class="f-login__social f-login__social_fb" href="./">Войти с помощью Facebook</a>
				<a class="f-login__social f-login__social_in" href="./">Войти с помощью Linkedin</a>
			</div>
		</div>
	</div>
</div>