.ln-choise {
	$self: &;
	
	&__inner {
		padding-top: 155px;
		padding-bottom: 165px;
		background: url('#{$images-path}ic-background-choice.svg') center right / auto no-repeat transparent;
		
		@include media('<=xs') {
			padding-top: 80px;
			padding-bottom: 100px;
		}
	}

	&__title {
		margin-bottom: 40px;
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}
	}

	&__text {
		margin-bottom: 48px;
		line-height: 32px;
		max-width: 670px;
		font-size: 20px;
		
		@include media('<=xs') {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 32px;
		}
		
		@include media('<=xxxs') {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 48px 24px;
		
		@include media('<=md') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
			grid-gap: 24px 24px;
		}
	}

	&__item {
		grid-column: 1 span;
		max-width: 320px;
		display: flex;
		font-family: "RM", sans-serif;
		align-items: center;
		text-decoration: none;
		font-size: 18px;
		color: #292A30;
		
		@include media('<=xs') {
			max-width: none;
		}
		
		@include media('<=xxxs') {
			font-size: 16px;
		}

		&:hover {
			text-decoration: underline;
		}

		&::before {
			display: block;
			content: '';
			width: 48px;
			height: 48px;
			border-radius: 50%;
			margin-right: 16px;
			flex-shrink: 0;
			box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.15);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-color: #eee;
		}
		
		&_trade::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-trade-view-orange');
			background-size: 21px 19px;
		}
		
		&_fin::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-checked-view-orange');
			background-size: 20px 20px;
		}
		
		&_reduce::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-shield-view-orange');
			background-size: 18px 22px;
		}
		
		&_scale::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-grow-view-orange');
			background-size: 22px 18px;
		}

		&_timing::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-boost-view-orange');
			background-size: 20px 20px;
		}
		
		&_invest::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-wallet-view-orange');
			background-size: 19px 18px;
		}
		
		&_workers::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-worker-view-orange');
			background-size: 22px 16px;
		}
	}
}