.title {
	$self: &;
	font-family: "RB", sans-serif;
	font-size: 32px;
	color: #4d4d4d;
	display: flex;
	flex-flow: row wrap;
	
	@include media('<=md') {
		font-size: 28px;
	}
	
	@include media('<=xs') {
		font-size: 24px;
	}

	span {
		margin-right: 10px;
	}

	a {
		color: $accent;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	}
}