.catalog {
	$self: &;
	margin-bottom: 32px;

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;
		margin-bottom: 32px;
		
		@include media('<=lg') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=md') {
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		grid-column: span 1;
	}

	&__navi {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__navi-count {
		margin-right: 10px;
		color: #4d4d4d;

		span {
			font-family: "RB", sans-serif;
		}
	}
}
