.ln-header {
	$self: &;
	background: url('#{$images-path}landing-background-1.png') center / cover no-repeat transparent;

	&__inner {
		padding-top: 100px;
		padding-bottom: 120px;
		color: #fff;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 95px;
	}

	&__logo {
		margin-right: auto;
	}

	&__button {
		margin-left: 24px;
	}

	&__content {

	}

	&__title {
		max-width: 940px;
		border-bottom: 2px solid $accent;
		padding-bottom: 20px;
		margin-bottom: 24px;
	}

	&__text {
		line-height: 32px;
		max-width: 670px;
		font-size: 20px;
		margin-bottom: 80px;
	}

	&__c-button {

	}
}