.card-ev {
	$self: &;
	$self: &;
	box-sizing: border-box;
	position: relative;

	@keyframes fullHeight {
		from { max-height: 0; }
		to { max-height: 200px; }
	}

	&_blind.hover {
		
		#{$self}__body {
			border-color: $accent;
			position: absolute;
			z-index: 2;
			width: 100%;
			top: 0;
		}

		#{$self}__hidden {
			animation: fullHeight 0.5s;
			animation-fill-mode: forwards;
		}
	}

	&__body {
		box-sizing: border-box;
		border: 1px solid #dedede;
		background-color: #fff;
		border-radius: 4px;
		transition: border-color 0.4s;
	}

	&__image {
		border-radius: 4px 4px 0 0;
		text-decoration: none;
		position: relative;
		overflow: hidden;
		display: block;
		height: 140px;
		margin: -1px -1px 0;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__i-label {
		box-sizing: border-box;
		position: absolute;
		left: 8px;
		top: 8px;
		max-width: calc(100% - 16px);
		font-family: "RM", sans-serif;
		font-size: 12px;
		color: #fff;
		background-color: $accent;
		border-radius: 50px;
		padding: 5px 16px;
	}

	&__content {
		box-sizing: border-box;
		padding: 16px;
	}

	&__small {
		font-family: "RB", sans-serif;
		font-size: 12px;
		color: $base;

		&_top {
			margin-bottom: 12px;
		}
	}

	&__title {
		color: #4d4d4d;
		font-family: "RM", sans-serif;
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 12px;
		
		@include media('<=xs') {
			font-size: 18px;
			line-height: 1.4;
		}
	}

	&__price {
		font-family: "RM", sans-serif;
		font-size: 20px;
		line-height: 1.0;
		color: $accent;
		margin-bottom: 15px;
	}

	&__name {
		display: flex;
		align-items: center;
	}

	&__n-avatar {
		border: 1px solid #dedede;
		box-sizing: border-box;
		border-radius: 50%;
		margin-right: 8px;
		overflow: hidden;
		height: 24px;
		width: 24px;

		img {
			display: block;
		}
	}

	&__n-text {
		font-size: 12px;
		color: #000;
	}

	&__hidden {
		max-height: 0;
		overflow: hidden;
		
		&::before {
			display: block;
			content: '';
			height: 12px;
			width: 100%;
		}

		p {
			line-height: 1.5;
			
			@include media('<=md') {
				font-size: 15px;
				line-height: 1.4;
			}
			
			@include media('<=xs') {
				font-size: 14px;
			}
		}
	}
}
