.card-rw {
	$self: &;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid #dedede;
	border-radius: 4px;
	display: flex;
	flex-flow: column nowrap;

	&__title {
		font-family: "RM", sans-serif;
		font-size: 20px;
		margin-bottom: 12px;
	}
	
	&__rating {
		margin-bottom: 12px;
	}
	
	&__row {
		margin-bottom: 8px;
		
		h4 {
			font-family: "RM", sans-serif;
			font-size: 12px;
			color: #999;
			margin-bottom: 4px;
		}
	}
	
	&__reaction {
		@extend %reset-button;
		font-family: "RM", sans-serif;
		font-size: 16px;
		display: flex;
		align-items: center;
		margin-top: auto;

		&::before {
			display: block;
			content: '';
			width: 20px;
			height: 20px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-right: 8px;
		}

		&_advise {
			color: #8ED15A;

			&::before {
				background-image: url('#{$images-path}ic-smile-happy.svg');
			}
		}
		
		&_condemn {
			color: #EC0000;

			&::before {
				background-image: url('#{$images-path}ic-smile-sad.svg');
			}
		}
	}
}
